{% extends 'base.html.twig' %}

{% block titresPage %}
<h1><center>Liste des formations</h1>
{% endblock %}
{% block contenu %}
<div class="p-3">
<p><center>Liste des formations</p>
</div>
<div class="p-3">
<table class="table">
  <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Nom</th>
    </tr>
  </thead>
  <tbody>
    {% for formation in listeFormations %}
    <tr> 
      <td> {{formation.id}} </td>
      <td> <a href="/formation/{{formation.nom}}"> {{formation.nom}} </td> 
     </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}