{% extends 'base.html.twig' %}

{% block titresPage %}
<h1><center>Bienvenue sur Prostages</h1>
{% endblock %}
{% block contenu %}
<div class="p-4">
<h2><center>Naviguez sur le site web</center></h2>
</div>
<div class="p-4">
<div class="card">
  <div class="card-body">
    <center><h1 class="card-title">Liste des stages </h1></center>
    <center><a href="stage" class="btn btn-primary">Consulter la liste des stages</a></center>
  </div>
</div>
</div>
<div class="p-4">
<div class="row">
<div class="col-md-6">
<div class="card">
  <div class="card-body">
    <center><h1 class="card-title">Liste des entreprises proposant un stage </h1></center>
    <center><a href="entreprises" class="btn btn-primary">Consulter la liste des entreprises</a></center>
  </div>
</div>
</div>
<div class="col-md-6">
<div class="card">
  <div class="card-body">
    <center><h1 class="card-title">Liste des formations pour lesquelles un stage est proposé </h1></center>
    <center><a href="formations" class="btn btn-primary">Consulter la liste des formations</a></center>
  </div>
</div>
</div>
</div>
{% endblock %}