{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue sur la page d'accueil de Prostages</h1>
<p>
Vous trouverez ci-dessous les dernièrs stages ajoutées sur ProStages.
</p>
<ul>
  <li>
    <a href="{{path('pro_stages_stages',{id:5})}}">stage 1</a>
  </li>
  <li>
    <a href="{{path('pro_stages_stages',{id:152})}}">stage 2</a>
  </li>
</ul>
{% endblock %}