{% extends 'base.html.twig' %}

{% block titresPage %}
<h1><center>Bienvenue sur la page d'accueil de Prostages</h1>
{% endblock %}
{% block contenu %}
<p><center>Derniers stages ajoutées sur ProStages.</p>
<ul class="list-group">
    {% for stage in listeStages %}
	<li class="list-group-item">
	<a href="stage/{{stage.id}}">
    {{stage.titre}} - {{stage.entreprise.nom}} <br/>
	</a>
	</li>
    {% endfor %}
<ul>
{% endblock %}