{% extends 'base.html.twig' %}

{% block title %}Modifier un Stage{% endblock %}

{% block titresPage %}
<h1><center>Modifier un Stage</center></h1>
{% endblock %}
{% block contenu %}
<div class="p-4">
    {{ include('stage/_form.html.twig', {'button_label': 'Modifier'}) }}
<div class="pt-1">
    <a class="btn btn-primary" href="{{ path('stage_index') }}">Retour à la liste des stages</a>
<div class="pt-1">
    {{ include('stage/_delete_form.html.twig') }}
</div>
{% endblock %}
