{% extends 'base.html.twig' %}

{% block title %}Creer un nouveau Stage{% endblock %}
{% block titresPage %}
<h1>Creer un nouveau Stage</h1>
{% endblock %}
{% block contenu %}
    <div class="p-4">
    {{ include('stage/_form.html.twig') }}
    <div class="pt-1">
    <a class="btn btn-primary" href="{{ path('stage_index') }}">Retour à la liste des stages</a>
    </div>
    </div>
{% endblock %}
